<!DOCTYPE html>
<html lang="en">
<head>
    <title>Layout 2</title>
    <style>
        header {
            height: 90px;
            background-color: bisque;
        }
        footer {
            height: 90px;
            background-color: bisque;
        }
        .flexrow {
            display: flex;
        }
        aside {
            width: 150px;
            height: 500px;
            background-color: aquamarine;
        }
        main {
            width: 600px;
            height: 500px;
            background-color: rgb(242, 254, 135);
        }
    </style>
</head>
<body>
   <header>
   </header>
   <div class="flexrow">
        <aside></aside>
        <main></main>
        <aside></aside>
   </div>
   <footer></footer> 
</body>
</html>